.container_select {
	width: fit-content;
	min-width: 400px;
	display: flex;
	gap: 10px;
	align-items: flex-end;
	margin-bottom: 20px;
}

@media (max-width: 450px) {
	.container_select {
		min-width: 300px;
		gap: 5px;
		margin-bottom: 10px;
	}
}
